<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<body>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.elements.statistic.Statistic"*/-->
<div th:fragment="default(component)" th:class="${component.getClassName()}">
    <th:block th:if="${component.isFlipLabel()}">
        <div class="value" th:utext="${component.value}"></div>
        <div class="label" th:utext="${component.label}"></div>
    </th:block>
    <th:block th:unless="${component.isFlipLabel()}">
        <div class="label" th:utext="${component.label}"></div>
        <div class="value" th:utext="${component.value}"></div>
    </th:block>
</div>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.elements.statistic.Statistics"*/-->
<div th:fragment="group(component)" th:class="${component.getClassName()}">
    <th:block th:each="statistic : ${component.statistics}">
        <div th:replace="~{qxcmp/globals/components :: component(${statistic})}"></div>
    </th:block>
</div>
</body>
</html>