<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<body>

<!--/*@thymesVar id="component" type="com.qxcmp.admin.view.AdminTopMenuMobileItem"*/-->
<th:block th:fragment="item-mobile(component)">
    <div th:class="${component.getClassName()}">
        <i class="list icon"></i>
    </div>
    <div class="ui inverted bottom popup">
        <a th:each="item : ${component.verticalMenu.items}" class="item" th:href="@{${item.url}}">
            [[${item.text}]]
        </a>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            $(".ui.top.fixed.menu .item.backend.mobile").popup({
                inline: true,
                on: "click"
            });
        });
    </script>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.admin.view.AdminTopMenuAlarmItem"*/-->
<th:block th:fragment="item-alarm(component)">
    <a th:href="@{/admin/profile/message}" target="_blank" class="link icon item">
        <i class="alarm icon"></i>
        <div th:if="${component.messageCount gt 0}"
             class="ui red label" th:utext="${component.messageCount}"></div>
    </a>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.admin.view.AdminTopMenuProfileItem"*/-->
<th:block th:fragment="item-profile(component)">
    <div th:class="${component.getClassName()}">
        <div class="ui rounded image">
            <img th:src="@{${component.user.portrait}}"/>
        </div>
    </div>
    <div class="ui inverted bottom left popup">
        <div class="ui inverted vertical menu">
            <a th:each="navigation : ${component.navigationList}" class="item" th:href="@{${navigation.anchor.href}}">
                <th:block th:if="${navigation.icon ne null}">
                    <div th:replace="~{qxcmp/globals/components :: component(${navigation.icon})}"></div>
                </th:block>
                [[${navigation.title}]]
            </a>
            <form class="link item" th:action="@{/logout}" method="post" onclick="$(this).submit()">
                <i class="sign out icon"></i>
                退出账户
            </form>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            $(".ui.top.fixed.menu .item.backend.account").popup({
                inline: true,
                on: "click"
            });
        });
    </script>
</th:block>
</body>
</html>